* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
  }
  
 
  
  .buttons {
    display:block;
    background: rgb(255, 189, 246);
    min-width: 700px;
    display: flex;
    justify-content: space-around;
  }
  
  .buttons a {
    display:block;
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #d89de3;
    color: #781b7e;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
  }
  
  .buttons a:hover {
    transform: scale(1.2);
  }

