#tablacolor
{
   background-color: rgb(219, 160, 243);
   border-spacing: 10.5cm;
  

}
#tablacolor2
{
   background-color: rgb(200, 243, 160);
   border-spacing: 10.5cm;
  

}
#tablacolor3
{
   background-color: rgb(243, 160, 240);
   border-spacing: 10.5cm;
  

}
#tablacolor4
{
   background-color: rgb(121, 244, 133);
   border-spacing: 10.5cm;
  

}
#tablacolor5
{
   background-color: rgb(121, 201, 244);
   border-spacing: 10.5cm;
  

}